@font-face {
    font-family: "CalibreSemibold";
    src: url("/fonts/CalibreSemibold.otf") format("opentype");
  }


  @font-face {
    font-family: "SourceSerif4";  
    src: url("/fonts/SourceSerif4.ttf") format("opentype");

  }
  
body{
  overflow-x: hidden;
  background-color: #ede8e6; /* Light gray background */
}

  .shell {
    padding: 0px; /* Remove default padding */
   
  }
  
  /* Desktop Styles (applied to screens wider than 768px, adjust as needed) */
  @media (min-width: 768px) {
    .shell {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  
  /* Mobile Styles (applied to screens narrower than 768px, adjust as needed) */
  @media (max-width: 767px) {
    .shell {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  



.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: calc(100vw - 20px);
    padding-top: 20px;
    backdrop-filter: blur(5px); /* Apply the blur effect */
    z-index: 3;
}

.basebar {
  color:#ede8e6;
  background-color: rgb(38, 38, 38);
  padding: 8px 15px 15px 15px; /* Top, right, bottom, left */
  height: 50vw;
}

  .navbar-left, .navbar-right {
    display: flex;
    flex-direction: column;
  }
  

h1 {
    font-family: "CalibreSemibold";
    font-size: clamp(2rem, 20vw, 3rem); /* Responsive font sizing */
    padding: 0; /* Shorthand for padding: 0px; */
    margin: 0; /* Shorthand for margin: 0px; */
    margin-top: 150px;
  }

  h2 {
    font-family: "CalibreSemibold";
    font-size: clamp(1rem, 20vw, 2rem); /* Responsive font sizing */
    padding: 0; /* Shorthand for padding: 0px; */
    margin: 0; /* Shorthand for margin: 0px; */
    color: #1d1d1d;
    margin-top: 20px;
  }

  h3 {
    font-family: "CalibreSemibold";
    padding: 0; /* Shorthand for padding: 0px; */
    margin: 0; /* Shorthand for margin: 0px; */
    color: #1d1d1d;
    font-size:25px;
  }

  p{
    font-family: "SourceSerif4";
    font-size:large;
    padding: 0; /* Shorthand for padding: 0px; */
    margin: 0; /* Shorthand for margin: 0px; */
    margin-top:20px;
    margin-bottom: 20px;
  }
  
  .underline {
    text-decoration: underline; /* Underline the text */
    text-decoration-color: rgb(255, 196, 0); /* Set underline color to yellow */
  }
  .video-container {
    position: relative;
    width: 100%; /* Set width to 100% of body */
    padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px); /* Fill the container */
    height: 100%; /* Fill the container */
  }




  
  /*horizontal scrollable*/
  .container {
    width: calc(100vw - 20px); /* Width of the viewport */
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden;
    white-space: nowrap; /* Prevent content from wrapping */
  }
  
  .item {
    display: inline-block; /* Make items behave like inline elements */
    width: calc(100vw - 20px); /* Set width of each item to the screen width */
    height:50vw; /* Adjust height as needed */
    color:rgb(255, 255, 255);
    background-color: #262626; /* Background color for items */
    text-align: center; /* Center text within each item */
    line-height: 200px; /* Center content vertically (optional) */
  }
  
  .details{
    width: 100px;
    height: 30px;
    margin: 8px;
    border-radius: 50px;
    border-width: 0px;
    color:#fff;
    background-color: rgb(40, 40, 40);
  }